<div class="row">
  <div class="col-sm-12 d-flex justify-content-center">
    <div>
      <h2>¿Olvidaste tu contraseña?</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-3">
        <%= f.label :email, "Correo electronico", class: "form-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Enviar correo para restablecer la contraseña", class: "btn btn-primary" %>
      </div>
      <% end %>

      <div class="mt-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
